Sucursal/src/META-INF/wsdl/192.168.0.105_8080/ServidorWeb/SupermercadoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://webService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webService/">

<xs:element name="devolverVenta" type="tns:devolverVenta"/>

<xs:element name="devolverVentaResponse" type="tns:devolverVentaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="registrarPedido" type="tns:registrarPedido"/>

<xs:element name="registrarPedidoResponse" type="tns:registrarPedidoResponse"/>

<xs:element name="registrarVenta" type="tns:registrarVenta"/>

<xs:element name="registrarVentaResponse" type="tns:registrarVentaResponse"/>

<xs:complexType name="devolverVenta">
<xs:sequence>
<xs:element name="idSuper" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="devolverVentaResponse">
<xs:sequence>
<xs:element name="return" type="tns:venta" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="venta">
<xs:sequence>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="costo" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:string" minOccurs="0"/>
<xs:element name="idSuper" type="xs:string" minOccurs="0"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarVenta">
<xs:sequence>
<xs:element name="idSuper" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:string" minOccurs="0"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="costo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarVentaResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarPedido">
<xs:sequence>
<xs:element name="lista" type="tns:pedido" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pedido">
<xs:sequence>
<xs:element name="cantidad" type="xs:string" minOccurs="0"/>
<xs:element name="estatus" type="xs:string" minOccurs="0"/>
<xs:element name="idProducto" type="xs:string" minOccurs="0"/>
<xs:element name="idSuper" type="xs:string" minOccurs="0"/>
<xs:element name="nombreProducto" type="xs:string" minOccurs="0"/>
<xs:element name="observacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registrarPedidoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>