Franquicia/xml-resources/web-service-references/SupermercadoWS/wsdl/192.168.0.105_8080/ServidorWeb/SupermercadoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2-b13 (branches/2.2-6964; 2012-01-09T18:04:18+0000) JAXWS-RI/2.2.6-promoted-b20 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="SupermercadoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://192.168.0.105:8080/ServidorWeb/SupermercadoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="devolverVenta">
<part name="parameters" element="tns:devolverVenta"/>
</message>
<message name="devolverVentaResponse">
<part name="parameters" element="tns:devolverVentaResponse"/>
</message>
<message name="registrarVenta">
<part name="parameters" element="tns:registrarVenta"/>
</message>
<message name="registrarVentaResponse">
<part name="parameters" element="tns:registrarVentaResponse"/>
</message>
<portType name="SupermercadoWS">
<operation name="hello">
<input wsam:Action="http://webService/SupermercadoWS/helloRequest" message="tns:hello"/>
<output wsam:Action="http://webService/SupermercadoWS/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="devolverVenta">
<input wsam:Action="http://webService/SupermercadoWS/devolverVentaRequest" message="tns:devolverVenta"/>
<output wsam:Action="http://webService/SupermercadoWS/devolverVentaResponse" message="tns:devolverVentaResponse"/>
</operation>
<operation name="registrarVenta">
<input wsam:Action="http://webService/SupermercadoWS/registrarVentaRequest" message="tns:registrarVenta"/>
<output wsam:Action="http://webService/SupermercadoWS/registrarVentaResponse" message="tns:registrarVentaResponse"/>
</operation>
</portType>
<binding name="SupermercadoWSPortBinding" type="tns:SupermercadoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="devolverVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarVenta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SupermercadoWS">
<port name="SupermercadoWSPort" binding="tns:SupermercadoWSPortBinding">
<soap:address location="http://192.168.0.105:8080/ServidorWeb/SupermercadoWS"/>
</port>
</service>
</definitions>